<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "includes/favicons.html" %}
        {% include "includes/description.html" %}

        <title>{{extension.name}} - Keuknet</title>
        <link type="text/css" rel="stylesheet" href="/index.css">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% include "includes/header.html" %}

        <section class="main">
            {% include "includes/extensions.html" %}
            <section class="content">
                {% block body %}
                {% endblock %}
            </section>
        </section>
    </body>
</html>
