<!DOCTYPE html>
<html>
    <head>
        <script>
            if (confirm("{{err}}\nRetry?")) {
                location.replace("{{location}}")
            }
            else {
                document.cookie = 0;
                location.replace("{{return}}")
            }
        </script>
    </head>
    <body>
        <h1>{{err}}</h1>
        <p>
            <a href="{{return}}">go back</a>
        </p>
        <p>
            <a href="{{location}}">continue</a>
        </p>
    </body>
</html>
