{% extends "extension.html" %}

{% block head %}
    <link href="/chat/index.css" rel="stylesheet">
    <script src="/chat/chat.js"></script>
{% endblock %}

{% block body %}
    <section class="chat">
        <table id="messages"></table>
        
        <form action="/chat" method="POST" enctype="application/x-www-form-urlencoded" id="sendmessage">
            <input type="text" name="message" maxlength="255" autofocus="true">
            <input type="submit" value="Send">
        </form>
    </section>
{% endblock %}
