<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <div id="intro">
            <h1>Hello ${req.user}!</h1>
            <h2>Status: ${req.status}</h2>
            <a href="keuknet://load&" target="_blank" onclick="javascript:(async function click () {await new Promise(r => setTimeout(r, 10000));window.location.reload()})()">Connect</a>
            <a href="keuknet://unload&" target="_blank" onclick="javascript:(async function click () {await new Promise(r => setTimeout(r, 10000));window.location.reload()})()">Disconnect</a>
            <a href="/api/resetdns">Fix DNS</a>
            <a href="/addprofile">Create New</a>
            <a href="/api/addserver">Add Server</a>
        </div>
        <!-- <audio loop autoplay>
            <source src="/coconut.mp3" type="audio/mpeg">
        </audio> -->
    </body>

</html>
