{% extends "extension.html" %}

{% block head %}
    <link href="/chat/index.css" rel="stylesheet">
    <script>
        window.onload = function() {
            let messages = document.getElementById('messages');
            window.setInterval(refreshChat, 1000);
        };
        function refreshChat() {
            var http = new XMLHttpRequest();
            http.open('GET', window.location.href+'/getnew', true);
            http.responseType = 'json';
            http.onreadystatechange = function() {
                if (http.readyState == 4 && http.status == 200) {
                    data = http.response.messages;
                    for (var i=0; i<data.length; i++) {
                        var row = messages.insertRow(-1);
                        row.insertCell(-1).appendChild(document.createTextNode(data[i]['name']));
                        row.insertCell(-1).appendChild(document.createTextNode(data[i]['time']));
                        row.insertCell(-1).appendChild(document.createTextNode(data[i]['content']));
                    };
                };
            };
            http.send(null);
        };
    </script>
{% endblock %}

{% block body %}
    <section class="chat">
        <table id="messages">
            {% for msg in chat %}
                <tr>
                    <td>{{msg.name}}</td>
                    <td>{{msg.time}}</td>
                    <td>{{msg.content}}</td>
                </tr>
            {% else %}
                <p>No chat items</p>
            {% endfor %}
        </table>
        <form action="/chat" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" name="message" maxlength="255" autofocus="true">
            <input type="submit" value="Send">
        </form>
    </section>
{% endblock %}
