{% extends "layout.html" %}

{% block body %}
    <h2>Getting started.</h2>
    <p><b>
        This page contains some information on how to get set up with a connection to KeukNet.<br>
        We assume you have just registered a new account and that you are not yet familiar with KeukNet.
    </b></p>
    <h3>Profiles</h3>
    <p>
        The first page you'll see is the <i>profile</i> page.<br>
        Here you can set up a connection with KeukNet, which is required to access any of the servers.<br>
        To set up a connection, first click <i>Create New</i> to create a profile, then click <i>Install</i> and select your device.<br>
        This will open the install instructions for your device.<br>
        After following all instructions the <i>Install</i> button of your profile should be grayed-out, this means the install was successful.<br>
        Now whenever you want to connect to KeukNet from this device, just click <i>Connect</i>, and <i>Disconnect</i> when you're done.
    </p>
    <h3>Servers</h3>
    <p>
        The <i>servers</i> tab contains all registered servers and their information on how to connect.<br>
        After you've set up a connection, check out this page for any fun servers you want to join.<br>
        Their pages should contain all information required for joining, and a short description of what they provide.
    </p>
    <h3>Nothing</h3>
    <p>
        The <i>nothing</i> tab is just there so you can appreciate our seasonal wallpaper. Nothing more...
    </p>
{% endblock %}
