{% extends "layout.html" %}

{% block body %}
    <h2>Welcome to KeukNet!</h2>
    <p>
        If you're new here we recommend reading the <a href="/~getting-started" target="_blank">getting started</a> guide immediately after registering.<br>
        It can be found top-left next to the logo.<br>
        Registering and logging in can be done at the top-right.
    </p>
    <p>
        For help or questions please contact <i>@fizitzfux</i> on <a href="https://discord.com">Discord</a><br>
        or join our <a href="https://discord.gg/PyJ9svjzrP">Discord server</a>.
    </p>
    <p>
        Please do be aware of the fact that this is still very much in development and a lot of stuff will be improved with time.
    </p>
{% endblock %}
