{% extends "extension.html" %}

{% block head %}
    <link href="/profile/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="user">
        <h2>Status: {{ "connected" if connected else "disconnected" }}</h2>
        <a href="keuknet://load&" class="button" target="_blank" onclick="javascript:(async function click () {await new Promise(r => setTimeout(r, 10000));window.location.reload()})()">Connect</a>
        <a href="keuknet://unload&" class="button" target="_blank" onclick="javascript:(async function click () {await new Promise(r => setTimeout(r, 10000));window.location.reload()})()">Disconnect</a>
    </section>

    <section class="profiles">
        <div class="menu">
            <h3>Your devices</h3>
            <hr>
        </div>
        {% for p in profiles %}
            <div class="profile">
                <p>
                    {% if p.name %}
                        {{p.name}}
                    {% else %}
                        Device {{loop.index}}
                    {% endif %}
                </p>
                <p>{{p.uuid}}</p>
                <p>IP: {{p.ip}}</p>
                <a href="/profile/install?uuid={{p.uuid}}" class="button {{'disabled' if p.installed}}">Install</a>
                <a href="/profile/rename?uuid={{p.uuid}}" class="button">Rename</a>
                <a href="/profile/delete?uuid={{p.uuid}}" class="button">Delete</a>
                <hr>
            </div>
        {% else %}
            <p>Here your linked devices will show up. To link your first device, click <kbd>Add New</kbd> and install it.</p>
        {% endfor %}
            <a href="/profile/add" class="button" style="margin-bottom: var(--margin-normal);">Add New</a>
    </section>

{% endblock %}
