exports.subnet = "fdbe:1234:abcd:1::"
exports.subnet_mask = "/96"
exports.dns_server = "fdbe:1234:abcd:1::1, 1.1.1.1"
exports.endpoint = "example.com"
exports.port = "51820"
exports.mtu = "1420"
exports.privkey = "INVALID KEY" //generate with `wg genkey`
exports.pubkey = "" //generate with `echo <privkey> | wg pubkey`
