{% extends "extension.html" %}

{% block head %}
    <link href="/servers/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="serverlist">
        {% for s in servers | reverse %}
            <div class="server">
                {% if s.url %}
                <p><a href="{{s.url}}">{{s.name}}</a></p>
                {% else %}
                <p>{{s.name}}</p>
                {% endif %}
                <p>IP: {{s.ip}}</p>
                <p>
                    {{s.description | striptags() | truncate(128, true, "")}}
                    <a href="/servers?server={{s.id}}">...</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
