{% extends "extension.html" %}

{% block head %}
    <link href="/invite/index.css" rel="stylesheet">
{% endblock %}


{% block body %}
<table id="invite_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Invite Code</th>
            <th>Created at</th>
            {% if user.is_admin %}
                <th>Created by</th>
                <th>Used by</th>
            {% else %}
                <th>Used</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
            {% for link in invite_links %}
            <tr class={{"used" if link.used else " "}}>
                <td>{{link.id}}</td>
                <td>{{link.code}}</td>
                <td>{{link.created_at}}</td>
                {% if user.is_admin %}
                    <td>{{link.created_by}}</td>
                    <td>{{link.used_by if link.used else "Not used"}}</td>
                {% else %}
                    <td>{{"Yes" if link.used else "No"}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
</table>
<a href="/invite/create" class="button">Create Invite</a>
{% endblock %}
